{{>layouts/header}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/css/search.css">

<form action="/hospital" method="get">
     {{! action="/hospital" 에 controller의 @RequestMapping("/hospital")와 같게 해줘야 한다.}}
    <div class="search-box">
        <input class="search-txt" type="text" name="keyword" placeholder="검색어를 입력해 주세요"/>
        <button class="search-btn" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#hospitals}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{hospitalName}}</td>
            <td>{{roadNameAddress}}</td>
        </tr>
    {{/hospitals}}
    </tbody>
</table>
<ul class="pagination justify-content-center">
    <li class="page-item">
        <a class="page-link" href="?page={{previous}}">Previous</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?page={{next}}">Next</a>
    </li>
</ul>
{{>layouts/footer}}